<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
	
	<header id="main-header">
		
		<a id="logo-header">
			<span class="site-name">Banco Online </span>
			<span class="site-desc">  Saca dinero / Compra</span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li class= "recuadrar"><a><span class="material-icons"> perm_identity</span> {{localperfil.username}}</a></li>
				<li class= "recuadrar"><a><span class="material-icons">account_balance_wallet</span> {{localcarteracifrada.length}} €  <span class = "description">(dinero en cartera)</span></a></li>
				<li class= "recuadrar"><a href=""><span class="material-icons"> exit_to_app </span>Log out</a></li>
			</ul>
		</nav><!-- / nav -->
	</header><!-- / #main-header -->
</body>

<div>
  <div class = "pedirdinero">
  <h3>¿ Qué cantidad desea sacar de su banco ? <span class="description">(lo que saque se añadirá a su cartera para poder comprar) </span> </h3>
    <form name ="getDinero" (ngSubmit)= "get1euro()">
      <div>
        <label>Pedir:
        <input type="text" name="solicitarDinero" placeholder="Ingrese cantidad €" [(ngModel)]="bankquantity">  
        <input type="password" name="clave" placeholder="your password" [(ngModel)]="passwordsacar">  
        </label>
  
        <button type ="submit">Pedir dinero</button>
      </div>
    </form>
  </div>

  <div class = "pagardinero">
    <h3>¿ Cuánto va a pagar ? <span class="description">(se le descontará de su cartera en cuanto se validen las monedas) </span> </h3>
    <form name ="PAGAR" (ngSubmit)= "pagar()">
      <div>
        <label>Pagar:
        <input type="text" name="pagarDinero" placeholder="Ingrese cantidad €" [(ngModel)]="payquantity">  
        <input type="password" name="clave" placeholder="your password" [(ngModel)]="passwordpay"> 
        </label>
  
        <button type ="submit">Pagar dinero</button>
      </div>
    </form>
  </div>

  </div>

